* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-nav-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* identical to box height, or 19px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* --c-primary */

    color: #5ECE7B;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 30px 0px;
}

.active {
    color: #5ECE7B;
}
.active:hover {
    cursor: pointer;
}
.not-active {
    color: #1D1F22;
}
.not-active:hover {
    cursor: pointer;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.modalOpen {
    border: 1px solid black;
}

.modalOpen,
.openCurrency {
    display: flex;
    flex-direction: column;
}

.modlaClose,
.closeCurrency {
    display: none;
}
